In [2]:
l=[]
l1=[1,2,3,4]
print(type(l))
print(type(l1))

<class 'list'>
<class 'list'>

In [5]:
a= [22,44,55]                     #list of integers
b=['banana','grapes','orange']    #list of strings
c=[2.2,44,True,22.1]              #list of mixed data type
print(a)
print(b)
print(c)

[22, 44, 55]
['banana', 'grapes', 'orange']
[2.2, 44, True, 22.1]

In [7]:
d= list(('apple', 10, 'banana'))  #using list constructor
d

['apple', 10, 'banana']

In [8]:
e= [3]*5                          #list with repeated elements
f= [2]*8
print (e)
print(f)

[3, 3, 3, 3, 3]
[2, 2, 2, 2, 2, 2, 2, 2]

In [9]:
c

[2.2, 44, True, 22.1]

In [12]:
print(c[1])                    #accesing list elements
print(c[2])
print(c[:3])

44
True
[2.2, 44, True]

In [21]:
c

[2.2, 44, True, 22.1, 33, 33, 33, 22, 22]

In [22]:
b

['banana', 'grapes', 'orange']

# List Methods

In [1]:
a= [11,83,43,82,90]            #list of iintegrs
b= ['apple','banana','grapes'] #list of strings
c= [2.14,'data', 123, True]    #list of mixed data type
print(a)
print(b)
print(c)

[11, 83, 43, 82, 90]
['apple', 'banana', 'grapes']
[2.14, 'data', 123, True]

In [4]:
a= list((1,2,3,'apple',4.5))   #using list constructor
print(a)
b= ('GFG')
print(b)

[1, 2, 3, 'apple', 4.5]
GFG

In [6]:
a= [2]*5    #creating list with multiple elements
b=[3]*4
print(a,b)

[2, 2, 2, 2, 2] [3, 3, 3, 3]

In [11]:
a=[10,45,34,38,92]  #aceesing list elements
print([4])
print([-1])
print([3])

[4]
[-1]
[3]

# List Methods

In [26]:
d=[44,33,22,11]
d.append(55)           #adds an element
print(d)               #ONLY TAKES ONE ARG

[44, 33, 22, 11, 55]

[44, 33, 99, 22, 11, 55]

In [27]:
d.insert(2,99)        #inserts the elements through INDEXING
d

[44, 33, 99, 99, 22, 11, 55]

In [28]:
list1=[' apple','banana','ornage']
list2=['pytho','jawa','sql']
list1.extend(list2)
print(list1)                        #append the two lists

[' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

In [30]:
list2.extend(list1)
print(list2)

['pytho', 'jawa', 'sql', ' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

In [37]:
list1

[' apple', 'ornage', 'pytho', 'jawa', 'sql']

In [41]:
list1.remove('pytho')   #removes element   
list1

[' apple', 'ornage', 'jawa', 'sql']

In [42]:
list1.pop(1)
list1              #removes specified index

[' apple', 'jawa', 'sql']

In [45]:
list1.clear()      #empities the list
list1

[]

In [46]:
list2

['pytho', 'jawa', 'sql', ' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

In [49]:
list2.copy()
list2

['pytho', 'jawa', 'sql', ' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

In [52]:
list2.count('jawa')

2

In [54]:
list2.index('pytho')
list2

['pytho', 'jawa', 'sql', ' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

In [57]:
a

[10, 45, 34, 38, 92, 22, 22, 22, 33, 33]

In [59]:
a.index(45)
a

[10, 45, 34, 38, 92, 22, 22, 22, 33, 33]

In [60]:
a

[10, 45, 34, 38, 92, 22, 22, 22, 33, 33]

In [61]:
a.reverse()
a

[33, 33, 22, 22, 22, 92, 38, 34, 45, 10]

In [62]:
a.sort()            #PARAMETER TUNNING
a

[10, 22, 22, 22, 33, 33, 34, 38, 45, 92]

In [65]:
a.sort(reverse=True) #HYPERPARAMETER TUNNING
a

[92, 45, 38, 34, 33, 33, 22, 22, 22, 10]

In [71]:
b=['apple','kiwi','banana','grapes','orange']
b.sort()
b        #works alphabetical order

['apple', 'banana', 'grapes', 'kiwi', 'orange']

In [72]:
b.sort(reverse= True)
b

['orange', 'kiwi', 'grapes', 'banana', 'apple']

In [73]:
print(list1)
print(list2)

[]
['pytho', 'jawa', 'sql', ' apple', 'banana', 'ornage', 'pytho', 'jawa', 'sql']

# List slicing

In [86]:
y

[55, 44, 33, 33, 22, 22, 22, 14, 14, 14, 14, 11, 11]

In [88]:
y.clear()
y

[]

In [89]:
y=[22,22.33,"hello",True,45,2+3j]
y

[22, 22.33, 'hello', True, 45, (2+3j)]

In [92]:
print(y[:5])     #will skip the last element
print(y[0:])     # every element will be there
print(y[1:4])
print(y[3:4])    #positive indexing
print(y[-6:-2])  #negative indexing
print(y[:])      #whole list elements will be there

[22, 22.33, 'hello', True, 45]
[22, 22.33, 'hello', True, 45, (2+3j)]
[22.33, 'hello', True]
[True]
[22, 22.33, 'hello', True]
[22, 22.33, 'hello', True, 45, (2+3j)]

In [94]:
print(y[-2:-4])   
                   #left to right indexing will only work
print(y[4:1])

[]
[]

# Nested lists

In [97]:
f= [2,34,3,4,[.33,322,223]]  #listes under lists
f

[2, 34, 43, 24, 22, 323, 4, [0.33, 322, 223]]

In [100]:
g= [[33.23,23.2,32.2],["hello","bye"],[True, False]]
g                            # can store different types of data

[[33.23, 23.2, 32.2], ['hello', 'bye'], [True, False]]

In [108]:
matrix=[[2,3,4],     #here there are three rows and three elements from o to 2 index
    [33,22,11],
     [21,31,15]]
print(matrix[1][2])   #1st row 2nd element

11

In [109]:
h= [10,39,39,'heelo',True]
print(h[1])
print(h[0])
print(h[3])

39
10
heelo

# FIND MAX/MIN OF TWO NO.

In [12]:
A=[3222]
B=[2992992]
print(max(A,B))
print(min(A,B))

[2992992]
[3222]

In [10]:
print(A if A>B else B )

[2992992]

In [11]:
a= [22,44,55,99,991]
print(len(a))

5

In [13]:
# INTERCHANING ELEMENTS

In [36]:
a= [1,2,3,4,5,6,7,8,9]
a[0],a[-1] = a[-1],a[0]
a

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [37]:
lst = [1, 2, 3, 4, 5]
lst[0], lst[-1] = lst[-1], lst[0]

print( lst)

[5, 2, 3, 4, 1]

In [38]:
a

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [39]:
a[2] = a[4]
a

[9, 2, 5, 4, 5, 6, 7, 8, 1]

In [40]:
if 9 in a:
    print("9 exists in a")
else:
    ("does not exits")

9 exists in a

In [46]:
# ANY FUNCTION

In [44]:
a= [10,20,30,40]
ten= any(x==40 for x in a)
if ten:
    print("yes")
else:
    print('no')

yes