In [1]:
t=()
type(t)

tuple

In [3]:
t1=(10,20,30,40)
t1

(10, 20, 30, 40)

In [4]:
t1.count(10)   #counts the element

1

In [5]:
t1[:]     #slicing

(10, 20, 30, 40)

In [9]:
icici= (1234, 'cijcijoaaj', 456)
icici

(1234, 'cijcijoaaj', 456)

In [10]:
icici[2]

456

In [11]:
t1

(10, 20, 30, 40)

In [12]:
t1[0]

10

#

In [13]:
t1.remove[0]

AttributeError: 'tuple' object has no attribute 'remove'

In [15]:
t1

(10, 20, 30, 40)

In [16]:
l=[10,20,30]
10 in l          #list membership

True

In [17]:
20 in l

True

In [18]:
60 in l

False

In [9]:
tup1= (1, 2, 3)
tup2= ('banana', 'orange', 'grapes')
tup3= tup1 + tup2
print(tup3)                          #concatenation of tuples

(1, 2, 3, 'banana', 'orange', 'grapes')

In [11]:
tup1=[2,2342,24422,14,True] 
tup1[1]=33333333333333
tup1                          #updating elements in the list

[2, 33333333333333, 24422, 14, True]

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])                       #accesing tuple items

banana

In [3]:
print(thistuple[-3])

apple

In [8]:
print(thistuple[-3:])   #negative indexing

('apple', 'banana', 'cherry')

In [15]:
print(thistuple[0:3])

('apple', 'banana', 'cherry')

### convert tuple into list

In [16]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [17]:
y= list (x)
y[2] = "Dragon fruit"
x= tuple(y)
print(x)

('apple', 'kiwi', 'Dragon fruit')

In [22]:
a= (23,45,89,9)
b= list(a)
b[1]= 27
print(a)

(23, 45, 89, 9)

In [25]:
tuple = ("apple", "banana", "cherry")
y = list(tuple)
y.remove("apple")
tuple

('apple', 'banana', 'cherry')

In [26]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)              #joining tuples

('a', 'b', 'c', 1, 2, 3)

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 4

print(mytuple)            #multiplying tuples

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')


### Tuple Methods

#### tuple have only two methods; count & index

In [31]:
tuple = (2,4,5,8,2,6,9,4,4,6,7,94,2,2)
x = tuple.count(2)
print(x)

4

In [34]:
tuple1= ('s','s','h','j','k')
z= tuple1.count('s')
print(z)

2

In [38]:
tuple2 = (83,35,52,11,44,940)
y = tuple2.index(940)
print(y)

5

In [45]:
tuple3 = ('megha', 'palak', 'debo')
z = tuple3.index('debo')
print('my fav person is:',(z))

my fav person is: 2