## import math function

In [1]:
x = sqrt(25)

NameError: name 'sqrt' is not defined

In [ ]:
import math  #math is a module
math.sqrt(25)

In [ ]:
x1 = math.sqrt(15)
x1

In [ ]:
#how many function does math have will find wth
help(math) or
#math.tab

In [1]:
#correct format to write code
import math
from math import sqrt
import math as m

In [ ]:
print(math.floor(3.87))  #FLOOR- minimum or least value

In [ ]:
print(math.ceil(3.87))  #CEIL - max or atmost value

In [ ]:
round(3.87)

In [ ]:
round(3.37)

In [ ]:
3 * 2

In [ ]:
3 **2

In [ ]:
print(math.pow(3,2)) # 3 to the power 2

In [ ]:
pi = 40.2  #in python the pi value is not fixed,as we have a concept of only varibale
pi

In [ ]:
math.e  #epsilon value

In [ ]:
import math as m   #short form of maths,so firstly we have to define m
m.pow(2,3)

In [ ]:
import keyword  #total 35 keywords
keyword.kwlist

In [ ]:
from math import sqrt,pow,ceil, floor #math have many function, so we can use them as these
print(pow(2,3))
print(m.sqrt(10))
print(m.floor(3.5))
print(m.ceil(22.1))

In [ ]:
from math import *  # * STAR refers to all
print(pow(2,3))
print(m.sqrt(10))
print(m.floor(3.5))
print(m.ceil(22.1))

## user input in python

In [3]:
x = input()
x

 2

'2'

int()  always a string
use int()/float() for numbers

In [4]:
type (x)  #string type

str

In [5]:
x = input ()
y =input()

z = x+y       #Read a string from standard input
print(z)

 2
 3

23

In [6]:
x = int(input ())
y = int(input())

z = x+y       #to add the no. we have to convert it into int,as these are all in strings
print(z)

 2
 3

5

In [11]:
x1 = int(input('enter the first number'))  #user input with the conversion of int*
y1 = int(input('enter the second number'))
z1 = x1 + y1
print(z1)

enter the first number 11
enter the second number 11

22

In [1]:
#input with names
name = input("Enter your name: ")
print("Hello,", name)

Enter your name:  palak

Hello, palak

In [2]:
#input with numbers
age = int(input("Enter your age: "))
print("Next year you will be", age + 1)

Enter your age:  21

Next year you will be 22

In [3]:
#ADD TWO NUMBERS
def add(a, b):
    return a + b

x = int(input("Enter first number: "))   #ALWAYS REMEMBER HERE TO CCONVERT THE NO. IN INT
y = int(input("Enter second number: "))

print("Sum:", add(x, y))

Enter first number:  2
Enter second number:  3

Sum: 5

In [4]:
#FACTORIAL OF A NUMBER
from math import factorial

n = int(input("Enter number: "))
print(factorial(n))

Enter number:  5

120

In [9]:
x1 = input ('username:')
y1 = input ('password:')
z1 = x1 + y1
print(z1)

username: user
password: 1122

user1122

In [12]:
st = input ('enter a string')
print(st)
#print(type(ch))

enter a string palak

palak

In [14]:
print(st[0])

p

In [15]:
print(st[0:3])

pal

In [16]:
st  = input ('enter a string')[1]  #example of adhar card,last digits will be shown
print(st)                          #input function,string, with index

enter a string hello

e

In [20]:
st  = input ('enter a string')[5:12]  #example of adhar card,last digits will be shown
print(st)

enter a string 32113311189

311189

In [17]:
st  = input ('enter a string')   #here the evaluation didn't happened
print(st)

enter a string 2 + 3 *4

2 + 3 *4

In [18]:
st = eval( input ('enter a string'))  #therfore ww will pass EVAL*
print(st)

enter a string 2 + 3 *4

14

## what is the output

In [5]:
x = int(input())
print(type(x))
#int

 10

<class 'int'>

In [6]:
x = input()
print(type(x))
#str

 10

<class 'str'>

In [7]:
x = input()
print(x + "10")  #as to add the no. we should convert it into int
#510

 5

510

In [8]:
from math import sqrt
print(type(sqrt))
#function

<class 'builtin_function_or_method'>

In [9]:
import math
print(type(math))
#module

<class 'module'>

In [11]:
def test():
    print("Hello")

x = test()
print(type(x))     #none,bcoz when it will return to the function the only it will be defined as string
#str

Hello
<class 'NoneType'>

In [13]:
def test():
    return 10

x = test()
print(type(x))
#int            #ince it is defined now

<class 'int'>

In [15]:
from math import factorial
print(type(factorial(5)))
#function                   #int bcoz the factorial returns a int value

<class 'int'>

In [16]:
x = input()
print(type(x + "5"))
#str                 #since it's not defined here as well

 10

<class 'str'>

In [17]:
x = int(input())
print(type(x / 2))
#int                #since the division would be in decimal value only

 4

<class 'float'>

In [18]:
x = int(input())
print(type(x // 2))
#int               #now it's defined therfore it will be int

 4

<class 'int'>

In [19]:
print(type(len("Python")))
#str                       #LENGTH OF PYTHO WILL RETURN A NUMBER

<class 'int'>

In [21]:
x = float(input())
y = int(x)
print(y)
#int

 4.9

4

In [22]:
def fun():
    return

print(fun())
#none,bcoz nothing is executed

None

In [23]:
def fun():
    print("A")
    return 10
    print("B")  #this line never executed

print(fun())
# 10

A
10

In [25]:
x = input()
print(x * 2)
# IT REPEATS THE STRING

 3

33