In [5]:
for i in range(1, 15):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13

In [6]:
count = 0
while count < 6:
    print(count)
    count +=1
else:
    print("while loop ended")

0
1
2
3
4
5
while loop ended

#### for loop

In [7]:
language = "python"
for x in language:
    print(x)

p
y
t
h
o
n

In [8]:
range (stop)
e.g. - for i in range(2)
range (start,stop)
e.g. - for i in range(1,10)
range (start,stop,step)
e.g. - for i in range(1,20,2)

SyntaxError: invalid syntax (2523558519.py, line 2)

In [9]:
for i in range(3):      #stop argument
     print(i)
else:
      print("end")
for y in range(1,4):    #start stop argument
    print(y)
else:
      print("end")  
for x in range(1,10,3):  #start stop step arg
    print(x)
else:
      print("end")

0
1
2
end
1
2
3
end
1
4
7
end

### Loop control statements
#### pass
#### break
#### continue

In [10]:
count = 5
while count > 0:
   if count ==3:
       pass
   else:
       print(count)
       count -=1

5
4

KeyboardInterrupt:

In [4]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [3]:
for i in range(5):
    if i == 3:
         continue
    print(i)

0
1
2
4

#### Nested Loop

In [5]:
for num in range(1,4):        #PRINTING NO. FROM 1 TO 3 FOR THREE TIMES
    print(num)
for num in range(1,4):
    print(num)
for num in range(1,4):
    print(num)
for num in range(1,4):
    print(num)
for num in range(1,4):       
    print(num)              #TO GET RID OF THIS CONDITION WE USE NESTED LOOPS

1
2
3
1
2
3
1
2
3
1
2
3
1
2
3

In [2]:
for i in range(3):           #will do it for 4 times,THIS IS THE OUTER LOOP
    for num in range(1,4):   #for this range*,INNER LOOP
        print(num)
    print("----")            #PRINTING NO. FROM 1 TO 3 FOR THREE TIMES

1
2
3
----
1
2
3
----
1
2
3
----

 #### Print prime no. bw 2 to 10

In [1]:
for num in range(2,10):
    for i in range(2,num):
        if num % i == 0:
              break
    else:
        print(num)

2
3
5
7

#### Print mltiplication table of a no.

In [24]:
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Print squares of numbers from 1 to 10

In [6]:
for i in range(1,11):
    print( i, " square is ",i * i)

1  square is  1
2  square is  4
3  square is  9
4  square is  16
5  square is  25
6  square is  36
7  square is  49
8  square is  64
9  square is  81
10  square is  100

#### Count no. greater than 10

In [7]:
numbers = [5, 12, 8, 20, 15]
count = 0
for num in numbers:
    if num > 10:
        count += 1           #if the condition is true it inc by 1
print(count)

3

#### print positive numbers

In [8]:
numbers = [ 12, 34, -33, 24, 29, -22]
for num in numbers:
      if num > 0:
          print(num)

12
34
24
29

In [9]:
y = [-3, 5, -1, 8, 0]
for num in y:
    if num > 0:
        print(num)

5
8

#### Print negative numbers

In [10]:
numbers = [22, -33, 33, -233, 23, -65, -22]
for num in numbers:
      if num < 0:
          print(num)

-33
-233
-65
-22

#### Length of each word

In [11]:
words = ['apple', 'banana', 'cherry']
for word in words:
    print(len(word))

5
6
6

In [12]:
y = [ 'palal','shubh','kajkdjiajiajidj']
for word in y:
    print(len(word))

5
5
15

#### Upper case letter in python

In [13]:
text = "hHjdHjhJJKhjg"
for ch in text:
    if ch.isupper():
        print(ch)

H
H
J
J
K

#### Lowercase letters in a string

In [14]:
text = "jiaU"
for ch in text:
    if ch.islower():
        print(ch)

j
i
a

#### Print star pattern

In [21]:
for i in range(1,n+1):
    for j in range(1, i +1):
            print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
n = 5
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(" * ", end = " ")
    print()

 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [20]:
n = 5
for i in range(n, 0, -1):
    print(" * " * i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *